<header>
    <nav>
        <button [routerLink]="['/']">
            <span class="material-symbols-outlined"> house</span>
            Back
        </button>
    </nav>
</header>

<main>
    @if (cocktailBO(); as cocktail) {
    <img [src]="cocktail.imageUrl" alt="" aria-hidden="true">
    <div class="col">
        <div class="header">
            <h2>{{ cocktail.name }}</h2>
            <app-like-star [cocktail]="cocktail" (toggle)="onToggleLike()"></app-like-star>
        </div>
        <div class="body">
            <strong>Type:</strong>
            <app-cocktails-tags [cocktail]="cocktail"></app-cocktails-tags>
            <strong>Ingredients:</strong>
            <ul>
                @for (ingredient of cocktail.ingredients; track ingredient) {
                <li>{{ ingredient }}</li>
                }
            </ul>
            <strong>Instructions:</strong>
            <p>
                {{ cocktail.instructions}}
            </p>
        </div>
    </div>
    }
</main>