.col {
    display: flex;
    flex-direction: column;
}

nav {
    margin: 0;

    button {
        display: flex;
        align-items: center;
    }
}

main {
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    gap: 16px;

    .body {
        margin-top: 16px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }

    img {
        width: 33%;
        height: 100%;
    }

    .header {
        display: flex;
        align-items: center;
        gap: 16px;

        h1 {
            margin: 0;
        }
    }
}