.col {
    display: flex;
    flex-direction: column;
}

nav {
    margin: 0;

    button {
        display: flex;
        align-items: center;
    }
}

main {
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    gap: 16px;

    .body {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        .alcoholic-label {
            color: white;
            width: fit-content;
            padding: 4px;
            border-radius: 100px;

            &.alcoholic {
                background-color: blue;
            }

            &.non-alcoholic {
                background-color: green;
            }
        }
    }

    img {
        width: 33%;
    }

    .header {
        display: flex;
        align-items: center;
        gap: 16px;
    }
}