:host {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    border: 1px solid gray;
    border-radius: 16px;
    overflow: hidden;
}

img {
    aspect-ratio: 1;
    height: 100%;
    width: 220px;
}

.body {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 8px;

    .alcoholic-label {
        color: white;
        width: fit-content;
        padding: 4px;
        border-radius: 100px;

        &.alcoholic {
            background-color: green;
        }

        &.non-alcoholic {
            background-color: blue;
        }
    }
}

span.icon-star {
    position: absolute;
    top: 8px;
    right: 8px;
}

a {
    color: black;
}